#popular{
    width: 40%;
}

.songs-list {
    height: 20vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    padding-right: 0 2rem;
    position: relative;
}

.songs-list::-webkit-scrollbar {
    width: 6px;
}

.songs-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.song {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 10px;
    transition: transform 0.4s ease;
}

.active {
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 0 5px 4px #7afcac5c;
}

.song:hover {
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 0 5px 4px #7a90fc5c;
    cursor: pointer;
    transform: scale(102%);
}

.song-details {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    align-items: center;
}

.song-details b, .song-details p{
    margin: 0;
    padding: 0;
}

.song-details>img{
    width: 40px;
    border-radius: 50%;
    object-fit: fill;
    object-position: center;
}

.song-duration{
   display: grid;
   grid-auto-flow: column;
   align-items:center;
   column-gap: 2em;
   padding-right: 10px;
}

.playpause {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all ease 0.4s;
}

.playpause:hover{
    transform: scale(110%);
}
