#r-album {
    width: 60%;
}

#r-album>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#r-album>div>span>button{
    background-color: transparent;
    border: none;
    margin-right: 2em;
}

.album-list{
    display: flex;
    overflow: hidden;
}

.album-list figure {
    position: relative;
    margin: 0;
    
}

.album-list figcaption {
    font-weight: bold;
    text-align: left;
}