.sidebar {
  background-color: white;
  margin: 3% 2% 2% 2%;
  border-radius: 10px;
  padding-top: 1.5%;
  position: relative;
  height: 80vh;
}

.sidebar > figure > img {
  position: absolute;
  width: 5rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
  border-radius: 50%;
}

figcaption {
  text-align: center;
  padding-bottom: 2em;
}

figcaption > p {
  margin: 0;
  color: #5e77fb;
}

.browse li,
.discover li {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  list-style-type: none;
  margin: 1.6em 0;
  padding: 0 2.5rem;
  opacity: 0.5;
  font-weight: bold;
}

ul {
  padding: 0;
}

.activenav {
  box-sizing: content-box;
  border-left: 4px solid #5E77FB;
  opacity: 1 !important;
}

.browse > h2,
.discover > h2 {
  padding-left: 10%;
}
