.App {
  display: flex;  
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  opacity: 0.3;
  filter: blur(30px);
  z-index: -1;
}

#content {
  margin-top: 3%;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}

.header button {
  background-color: transparent;
  padding: 1em 2em;
  border: 3px solid #5E77FB;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header>form {
  display: flex;
  align-items: center;
}

.header>div {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  gap: 2em;
  align-items: center;
  padding: 0 2em;
}

.header>form>input {
  background-color: transparent;
  border: none;
  width: 20rem;
}

.header>form>input:focus {
  outline: none;
}

.header>form>input::placeholder {
  opacity: 0.8;
  font-weight: bold;
}

#section-2{
  display: flex;
  margin-top: -5px;
}

@media (prefers-reduced-motion: no-preference) {
  
}

